{% extends 'base.html' %}

{% block title %} Customers {% endblock %}

{% block body %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Date Joined</th>

        </tr>

    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.username }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.date_joined }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}