{% extends 'forms.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<!-- Login section start -->

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">
            <h3>
                Login to start <br> Shopping
            </h3>
            
            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email"><h4>Email Address</h4>{{ form.email }} <hr></div>
                <div class="password"><h4>Password</h4>{{ form.password }} <hr></div>

                <div class="buttons">
                    <a href="/sign-up"> Sign Up</a>
                    {{ form.submit() }}
                </div>


            </form>
        </div>
    </div>
</section>


{% endblock %}