{% extends 'base.html' %}

{% block title %} Search {% endblock %}


{% block body %}

{% if items | length < 1 %}
<h3 style="color: white;">No Items Match your Search query</h3>

{% else %}


<div class="container text-center">
    <div class="row" style="margin: 8px; background-color: rgb(219, 218, 218);" id="column">

        {% for item in items %}

        <div class="col" style="background-color: white;">
        
            <img src="{{ item.product_picture }}" alt="" style="height: 202px; width: 180px; border-radius: 10px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: gray;">{{ item.product_name }}</h6>
            </div>

            <div class="row" style="margin-top: 10px;">
            
                <div class="col">

                    <h5 style="font-weight: 600; font-family: 'Times New Roman', Times, serif;">Ksh {{ item.current_price }}</h5>
                    <strike><p style="color: gray;">Ksh {{ item.previous_price}}</p></strike>
                </div>

                <div class="col">
                    <a href="/add-to-cart/{{ item.id }}">Add</a>
                </div>
            
            </div>

            <div class="row">
                <p>{{ item.in_stock }} Items Left</p>
            </div>
        </div>
    
        {% endfor %}

    </div>
</div>

{% endif %}

{% endblock %}