{% extends 'forms.html' %}

{% block title %} Sign Up {% endblock %}

{% block body %}

<!-- Sign Up section start -->

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">
            <h3>
                Create an account <br> to shop
            </h3>
            
            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email"><h4>Email Address</h4>{{ form.email }} <hr> </div>
                <div class="name"><h4>User Name</h4>{{ form.username }} <hr></div>
                <div class="password"><h4>Password</h4>{{ form.password1 }} <hr></div>
                <div class="password"><h4>Confirm Passowrd</h4>{{ form.password2 }} <hr></div>

                <div class="buttons">
                    <a href="/login"> Login</a>
                    {{ form.submit() }}
                </div>


            </form>
        </div>
    </div>
</section>


{% endblock %}